/*这是蔬菜盈亏统计模块的样式*/
.jhcard{
    text-align: left;
    padding: 20px;
    margin: 5px;
    border: 2px solid #cccccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 180px;
    height: 230px;
    float: left;
}
.jhitem{
    border-bottom: 1px solid #cccccc;
    padding: 5px;
}
